@model FinanceiroWeb.Models.Despesas
@{
    ViewBag.Title = "AdicionarDespesa";
}

<h2>AdicionarDespesa</h2>

<form method="post">
	<input value="@Model.nome_despesa" type="text" name="nomedespesa" />
</form>